*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*  navbar css */
.navbar{
    width: 100%;
    height: 60px;
   background: #eeebeb;
   border-radius: 2px;
}
.nav-item{
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}
.logo-name{
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    padding: 10px 60px 0px 60px;
    width: 100%
}
.select-box{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}
option{
    width: 100%;
    cursor: pointer;
}
.cart{
    cursor: pointer;
}
.item-count {
    position: absolute;
    margin-left: -15px;
    margin-top: -10px;
    background-color: #ff0000; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 50%; 
    font-size: 0.8rem; 
    font-weight: bold; 
    line-height: 1; 
    min-width: 25px; 
    text-align: center;
}
/* In the pages property list */
.pages{
    padding: 0px 50px 0px 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.product-container-flex{
    padding: 10px;
}
.img-width{
 width: 100%;
 object-fit: contain;
}
.img-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 2px;
    background: #f7f0f0;
}
.price-loc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.btn-flex{
    display: flex;
    align-items: center;
    justify-content: end;
   padding-top: 5px;
}
.btn{
    padding: 10px; 
    font-size: 14px;
    border: none;
    outline: none;
    background-color: rgb(162, 162, 245);
    color: #fff;
    width: 40%;
    border-radius: 2px;
    cursor: pointer;
}
.btn:hover{
    background: rgb(8, 13, 43);
    transition: 0.6s ease-in-out;
}
span{
    color: rgb(8, 13, 43);
}
/*  cartpages show design */
 .cart-page-border{
  padding: 15px 50px;
 }
.cart-container {
  display: flex;
 justify-content: space-between;
  gap: 50px;
 margin-top: 10px;
}
.container-1-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container-1 {
  display: flex;
  flex-direction:row;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

}
.description {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 50px;
}
.img-width-size {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
.flex-des {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  width: 100%;
}
.flex-des p {
  margin: 4px 0;
}
.container-width {
  width: 30%;
  border: 1px solid black;
  padding: 10px;
  align-items: flex-start;
  height: auto;
  max-height: 110px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.button-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.inc{
  padding: 2px;
  font-size: 20px;
  width: 50px;
  cursor: pointer;
}
.remove-button{
  padding: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  border: 3px;
  width: 150px;
  cursor: pointer;
  background-color:rgb(162, 162, 245) ;
}
.cost-container{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.checkout-container{
  margin-top: 40px;
}
.check-btn{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(143, 143, 247);
  color: #fff;
  border-radius: 2px;
}
.check-btn:hover{
  background-color: rgb(8, 13, 43);
  transition: 0.6s ease-in-out;
}
/*  Bookin Detail form */
.booking-detail{
  text-align: center;
  margin-top: 10px;
}
.form-item-border{
  width: 100%;
   margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

}
.form-item{
  padding:10px 20px 10px 20px;
 width: 40%;
 border-radius: 2px;
 background-color: rgb(218, 216, 214);
}
.form{
  padding-top: 15px;
  display: flex;
 flex-direction: column;
  gap: 5px;
}
input{
 padding: 10px;
 width: 70%;
 border: none;
 outline: none;
 border-radius: 2px;
}
.submit-now{
  width: 20%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: rgb(129, 129, 243);
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
  /*  media query for the mobile device */
/*  howme page design */
@media (max-width: 600px){
  .nav-item{
    padding: 10px 5px;
    font-size: 20px;
}
.filter{
 display: block;
 padding: 10px 5px;
 gap: 10px;
}
.pages{
 padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.price-loc{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 30px;
 padding-top: 5px;
}
.btn{
  width: 100%;
}
}
/*  for the tablet */
@media(min-width: 601px) and (max-width: 1024px){
  .pages{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 15px;
   }
   .price-loc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 5px;
   }
   .btn{
    width: 100%;
   }
}

/* cart pages show   */

@media(max-width: 600px){
 .cart-page-border{
  padding: 10px 5px;
 }
 .center{
  font-size: 25px;
 }
 .cart-container {
  display: block;
  gap: 20px;
}
.container-width{
  width: 100%;
}
.description {
  gap: 5px;
}
.flex-des {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
gap: 5px;
  
}
.button-flex{
 display: block;
 gap: 10px;
}
.remove-button{
  margin-top: 10px;
  width: 100%;
}
.container-width{
  margin-top: 10px;
}
}
/*  form media query  */
@media(max-width: 600px){
  .cart-page-border{
    padding: 10px 5px;
  }
  .booking-detail{
    font-size: 20px;
    text-align: center;
  }
  .form-item-border{
    justify-content: start;
  }
  .form-item{
    padding:10px 20px 10px 20px;
   width: 100%;
   border-radius: 2px;
   background-color: rgb(218, 216, 214);
  }
  input{
    width: 100%;
   }
   .submit-now{
    width: 100%;
  }
}
@media(min-width: 601px) and (max-width: 1024px){
  .form-item{
    padding:10px 20px 10px 20px;
   width: 70%;
   border-radius: 2px;
   background-color: rgb(218, 216, 214);
  }
  input{
    width: 100%;
   }
}



 